* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #374a50;
	color: #ccc;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #666;
	border-radius: 2px;
}

input:disabled {
	color: #777;
}

button {
	color: #ccc;
	background-color: #273233;
	outline: none;
}

button:disabled {
	color: #777;
	background-color: #565656;
}

button:not(:disabled):active {
	background-color: #424b50;
}

button:focus {
	border-color: #666;
}

button.selected {
	background-color: #1b7bab;
	border-color: #173288;
}

select {
	background-color: #283c3e;
	color: #aaa;
}

select:-internal-list-box:focus option:checked:enabled:hover {
	background-color: #1b7bab;
}

hr {
	border: 1px solid #273233;
}

.toast {
	background-color: #283c3e;
	color: #ccc;
	border: 1px solid #666;
	border-radius: 2px;
	margin-left: auto;
	margin-bottom: 0.2rem;
}

.toast.error {
	background-color: #a53511;
}
